*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
}
.container,.logo{
    display: flex;
    flex-flow: row wrap;
    
}
.left{
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 40vw;
    z-index: 1;
}
.image{
    padding: 0;
    background: url('./imgs/vecteezy_email-service-modern-flat-concept-for-web-banner-design-man_5868042.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
   

}
.left-footer{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color:#130533;
}
.logo{
    font-size: 36px;
    height: auto;
    position: relative;
    top:0vh;
    left: 0;
    gap:16px;
    padding: 15px 15px;
    justify-content:flex-start;
    align-items:center;
}
.symbol{
    height: 5vh;
    margin: 0;
    padding: 0;
}
.right{
    box-sizing: border-box;
    width: 60vw;
    background-color: #390DA0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    
}
.form{
    box-sizing: border-box;
    
    background-color: #2b0d73;
    font-size: 36px;
    display: flex;
    flex-flow: row wrap;
    gap:40px;
    margin: auto 0;
    width: 100%;
    padding: 30px;
    padding-left: 80px;
    box-shadow: 0 0 30px black;
}
.form-header{
    color:whitesmoke;
    text-transform: uppercase;
    text-align: start;
    font-weight: 800;

}
.form-header{
    width: 100%;
}
.form-item{
    width: 40%;
    display: flex;
    flex-flow: column wrap;
}
.form input{
    width: 85%;
    line-height: 40px;
    font-size:14px;
    outline: none;
    border:none;
    background-color: #2b0d73;
    color:#777;
    border-bottom: 2px solid ;
    
}
[type='submit']{
    background-color: whitesmoke;
    font-size: 24px;
    padding: 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
[type='submit']:hover{
    background-color: #FC721A;
    color:whitesmoke;
    
}
::placeholder{
    color:#777;
    font-size: 12px;
    text-transform: uppercase;
}
.log-in{
    width: 100%;
}
.log-in-link{
    color:whitesmoke; 
    font-size: 24px;
    font-weight: 300;
}
.log-in-link a{
    padding-left: 10px;
    text-decoration: none;
    color:#FC721A;
    font-size: 24px;
    font-weight: 300;
}
.log-in-link a:hover{
    color:whitesmoke;
}

@media only screen and (max-width:600px) {
    *{
        box-sizing: border-box;
    }
    .container,.logo{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .left{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
    }
    .right{
        margin-top: 30px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .form{
        box-sizing: border-box;
        margin: 0;
        padding-left: 30px;
        width: 100%;
        padding: 10px;
        font-size: 36px;
        display: flex;
        justify-content: center;

        }
    .form-header{
        font-size: 24px;
        text-align: center;
    }
    .form-item{
        width: 90%;
        display: flex;
        flex-flow: column wrap;
    }
    .form input{
        width: 90%;
        line-height: 30px;
    }
    
    .log-in{
        width: 100%;
    }
    .log-in-link, .log-in-link a{
        color:whitesmoke; 
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }
    .log-in-link a{
        color:#FC721A;
        
    }
    






}